body {
  background-color: darkolivegreen;
}

.drink-card {
  width: 700px;
  height: 550px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 25px;
}

#textInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 30px;
  border-radius: 20px;
}

#submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  font-size: 17px;
}

.drink-name {
  font-size: 34px;
  color: black;
  display: flex;
  position: start;
  margin: -500px 0px 0px -400px;
}

.drink-picture {
  width: 250px;
  height: 250px;
  border: 3px solid black;
  display: flex;
  position: fixed;
  margin: -200px 0px 0px -400px;
}

.ingredients1 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: -400px 0px 0px 100px;
}

.ingredients2 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: -320px 0px 0px 100px;
}

.ingredients3 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: -240px 0px 0px 100px;
}

.ingredients4 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: -160px 0px 0px 100px;
}

.ingredients5 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: -80px 0px 0px 100px;
}

.ingredients6 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: 0px 0px 0px 100px;
}

.ingredients7 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: 80px 0px 0px 100px;
}

.ingredients8 {
  font-size: 30px;
  display: flex;
  position: fixed;
  margin: 160px 0px 0px 100px;
}


.instructions {
  font-size: 25px;
  width: 660px;
  display: flex;
  position: fixed;
  margin: 240px 0px 0px 20px;
}

@media (max-width: 480px) {

  .drink-card {
    width: 500px;
    height: 550px;
    background-color: blueviolet;
    display: flex;
    position: absolute;
    margin: 0px 0px 0px -10px;
    border-radius: 25px;
  }
  .drink-picture {
    width: 175px;
    height: 175px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 20px;
  }
  .drink-name {
    font-size: 40px;
    color: black;
    display: flex;
    position: absolute;
    margin: 0px 0px 0px 20px;
  }

  .ingredients1 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 50px 0px 0px 220px;
  }
  
  .ingredients2 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 80px 0px 0px 220px;
  }
  
  .ingredients3 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 110px 0px 0px 220px;
  }
  
  .ingredients4 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 140px 0px 0px 220px;
  }
  
  .ingredients5 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 170px 0px 0px 220px;
  }
  
  .ingredients6 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 200px 0px 0px 220px;
  }
  
  .ingredients7 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 230px 0px 0px 220px;
  }
  
  .ingredients8 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 260px 0px 0px 220px;
  }

  .instructions {
    font-size: 25px;
    width: 490px;
    display: flex;
    position: absolute;
    margin: 250px 0px 0px 20px;
  }

  #textInput {
    display: flex;
    position: inherit;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin: 0px 0px 0px 145px;
  }

  #submitButton {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 0px 0px 195px;
    font-size: 17px;
  }
}

@media (min-width: 740px) and (max-width: 912px) {

  .drink-card {
    width: 700px;
    height: 750px;
    background-color: blueviolet;
    display: flex;
    position: absolute;
    margin: 0px 0px 0px 100px;
    border-radius: 25px;
  }
  .drink-picture {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 20px;
  }
  .drink-name {
    font-size: 40px;
    color: black;
    display: flex;
    position: absolute;
    margin: 0px 0px 0px 20px;
  }

  .ingredients1 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 50px 0px 0px 240px;
  }
  
  .ingredients2 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 80px 0px 0px 240px;
  }
  
  .ingredients3 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 110px 0px 0px 240px;
  }
  
  .ingredients4 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 140px 0px 0px 240px;
  }
  
  .ingredients5 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 170px 0px 0px 240px;
  }
  
  .ingredients6 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 200px 0px 0px 240px;
  }
  
  .ingredients7 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 230px 0px 0px 240px;
  }
  
  .ingredients8 {
    font-size: 30px;
    display: flex;
    position: absolute;
    margin: 260px 0px 0px 240px;
  }

  .instructions {
    font-size: 25px;
    width: 675px;
    display: flex;
    position: absolute;
    margin: 275px 0px 0px 20px;
  }

  #textInput {
    display: flex;
    position: inherit;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin: 0px 0px 0px 345px;
  }

  #submitButton {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 0px 0px 395px;
    font-size: 17px;
  }
}